@(millValues: Seq[MillCommand], form: Form[controllers.MillForm.ValidCommand], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Mill") {

    <h1>Mill</h1>
    @* Flash shows updates to a page *@
    @request.flash.data.map { case (name, value) =>
    <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr>
          <th>Stack</th>
      </thead>
      <tbody>
      @for(w <- millValues) {
        <tr>
          <td>@w.maybeValue.get.toString</td>
        </tr>
      }
      </tbody>
    </table>

    <hr/>
    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("command"))

      @helper.inputText(form("value"))

      <button>Mill Command</button>

      <p>Note: <em>command</em> defaults to "push"; values can be pushed by filling either box.
    <ul><li>Dyadic commands: <b>+</b>, <b>-</b>, <b>*</b>, <b>/</b>, <b>^</b>, <b>swap</b></li>
      <li>Monadic commands: <b>chs</b>, <b>inv</b></li>
      <li>Anadic commands: <b>clr</b>, <b>_pi</b>, <b>_e</b></li>
      <li>Memory commands: <b>sto</b>: <i>x</i>, <b>rcl</b>: <i>x</i></li>
    </ul>

      </p>
    }
  }
